<?php

define( 'MAIL_NAME', 'Medical Archive' );
define( 'MAIL_ADDR', 'medicalarchiveproj@gmail.com' );
define( 'MAIL_PASS', 'DdvdHRGhjL56hKn' );

define( 'MYSQL_HOST', '{{ dbfacts.ansible_facts.ansible_default_ipv4.address }}' );
define( 'MYSQL_USER', '{{ dbuser }}' );
define( 'MYSQL_PASS', '{{ dbpass }}' );
define( 'MYSQL_NAME', '{{ dbname }}' );
